<template name="assignee">
  <form class="delete-assign no-padd no-margin">
    <div class="collection-item grey lighten-4 no-padd no-margin">
      <div class="row no-margin no-padd" style="border:solid;border-width:0.07px;border-color:#e0e0e0">
       <div class="col s10">
        <input disabled type="text" class="grey-text text-darken-1 no-margin" name="text" id="{{this}}" value="{{user_name this}}" style="border:none;font-size:12px; padding-left:3px;"/>
      </div>
      <div class="col s2">
        <button type="submit" style="background:none!important; border:none;">
          <i class="remove-member tiny material-icons align right grey-text text-darken-1" style="padding-top:11px;font-size:12px;">clear</i>
        </button>
      </div>
    </div>
  </div>
</form>
</template>