<template name="footer">
  <footer class="page-footer blue-grey lighten-1" style="margin-top: 0px">
    <div class="container">
      <div class="row">
        {{> footer_icon icon="fa-facebook" link="https://facebook.com" }}
        {{> footer_icon icon="fa-google" link="https://google.com" }}
        {{> footer_icon icon="fa-twitter" link="https://twitter.com/KanFam_agile" }}
      </div>
    </div>
    <div class="footer-copyright blue-grey darken-1">
      <div class="container">
        <span>
          2016 © Kanfam Co.
        </span>
        <span class="right">
          <a href="/feedback" class="white-text">Send us some feedback</a>
        </span>
      </div>
    </div>
  </footer>
</template>

<template name="footer_icon">
  <div class="col s4">
    <div class="icon-block">
      <a href="{{link}}"><h2 class="footer-icon center white-text"><i class="fa {{icon}}" aria-hidden="true"></i></h2></a>
    </div>
  </div>
</template>
