<template name="group">
<div class="row">
<div class="col s11" >
    <div class="card">
        <div class="card-stacked">
            <div class="card-content">
                   <span class="card-title">
                     <div class="row">
                        <div class="col s5" style="padding:0px;">
                            <form class="edit-group-name">
                                <input class="black-text" name="text" type="text" style="font-weight:bold;border:none;padding-left:0px;font-size:20px;" required oninvalid="this.setCustomValidity('Please enter a group name')" oninput="setCustomValidity('')" value="{{name}}"/>
                            </form>
                        </div>
                        <div class="col s7">
                        {{#if is_admin}}
                        <i class="remove-group tiny material-icons align right">clear</i>
                        {{/if}}
                        <img class="right z-depth-1" src="/resources/house.jpg" width="60" height="60">
                        </div>
                    </div>
                   </span>
                    <div class="row">
        
                    <div class="col s8" style="padding:0px;">
                        <form class="edit-group-description">
                            <input class="flow-text left" name="text" type="text" style="font-size:15px;border:none;" value="{{description}}" placeholder="add description..."/>
                        </form>
                    </div>
                  
                    </div>
                {{#unless isActiveRoute 'group_page'}}
                <div class="row">
                    <div class="col s2">
                        <a href="/groups/{{_id}}">Go to group</a>
                    </div>
                </div>
                {{/unless}}
                
                {{#if isActiveRoute 'group_page'}}
                {{#if is_admin}}
                <div class="row">
                    <div class="col s12">
                    <form class="new-member">
                        <label>Add Member</label>
                        <input placeholder="Enter a userID" name="memberId" text="text"/>
                    </form>
                    </div>
                </div>
                {{/if}}
                <div class="row">
                   <div class="col s12">
                    <label>Members</label>
                    {{#each members}} 
                        {{> member}}
                    {{/each}}
                    </div>
                </div>

                {{/if}} 
                
                <div class="progress no-margin">
                    <div class="determinate" style="width: {{done_tasks_percentage}}%"></div>
                </div>
                
            </div>
        </div>
    </div>
   </div>
</div>

</template>

<!--
                <div class="row">
                     <form class="new-admin">
                        <label>Add Admin</label>
                        <input placeholder="Enter a userID" name="memberId" text="text"/>
                    </form>

                    <label>Admin</label>
                    {{#each admin}} 
                        {{> admin}}
                    {{/each}}


                </div>
-->