<template name="member">
  <form class="remove-member">
    <ul class="header grey lighten-5 no-margin z-depth-0" style="border-left:none;border-right:none;">
      <li>
        <div class="row" style="margin:0px">
          <div class="col s11">
            <input disabled type="text" class="grey-text" name="removeId" value="{{this}}" style="border: none; font-size:13px; padding-left:3px; padding-top: 3px; padding-bottom: 3px;"/>
          </div>
          <div class="col s1">
            <br>
            <button type="submit" style="background:none!important; border:none; padding:0!important;">
              <i class="remove-member tiny material-icons align right">clear</i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </form>
</template>