<template name="navbar">
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="left brand-logo"><img src="/logo.png"/>KanFam</a>
        <a href="#" data-activates="side-nav" id="side-nav-activate" class="button-collapse right hide-on-med-and-up"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-small-and-down">
          {{> navlist}}
        </ul>
        <ul class="side-nav" id="side-nav">
          {{> navlist}}
        </ul>
      </div>
    </nav>
  </header>
</template>
