<template name="navlist">
  {{#if currentUser }}
  {{> nav_item route="dashboard" icon="dashboard" name="Dash"}}
  {{> nav_item_regex route="groups" regex='^groups|group_page' icon="group" name="Groups"}}
  {{> nav_item route="calendar" icon="today" name="Calendar"}}
  {{> nav_item route="logout" icon="file_upload" class="rotated" name="Logout"}}
  {{else}}
  {{> nav_item route="signup" icon="perm_identity" name="Sign Up"}}
  {{> nav_item route="login" icon="file_download" class="rotated" name="Login"}}
  {{/if}}
</template>

<template name="nav_item">
  <li class="{{isActiveRoute route regex=regex}}"><a href="/{{route}}"><i class="material-icons right {{class}}">{{icon}}</i>{{name}}</a></li>
</template>
<template name="nav_item_regex">
  <li class="{{isActiveRoute regex=regex}}"><a href="/{{route}}"><i class="material-icons right {{class}}">{{icon}}</i>{{name}}</a></li>
</template>
