<template name="task_list">
  <body>
    <div class="container">
      <ul>
        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey">
              <div class="card-content white-text text-grey lighten-2">


                <span style="font-size:18px;">List Name ({{tasksCount}})</span>
                <a class='dropdown-button align right white-text ' data-activates='dropdown1'><i class="tiny material-icons align right">view_headline</i></a>


                <ul id='dropdown1' class='dropdown-content'>
                  <label class="hide-completed" style="font-size:14px;"><li class="teal-text text-lighten-1" style="padding-top:10%;padding-left:6.2%;padding-right:2.5%;"><input type="checkbox"/>Hide Complete    </li></label>
                  <li class="divider"></li>
                  <li><a style="font-size:15px;" href="#!">Delete List</a></li>
                  <li class="divider"></li>
                </ul>

                <p>
                {{#if currentUser}}
                <form class="new-task">
                  <input type="text" name="text" placeholder="Type to add new tasks" />
                </form>
                {{/if}}
                {{#each tasks}}
                {{> task}}
                {{/each}}
                </p>

              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </body>

</template>
