<template name="task">
<ul class="collapsible grey lighten-5 no-margin z-depth-0" data-collapsible="accordion" style="border-left:none;border-right:none;">
    <li>
      <div class="collapsible-header grey lighten-5 grey-text text-darken-3 no-margin z-depth-0 " style="border:none;">
          <div class="row no-margin no-padding">
            <form class="edit-task" id="eTask">
             <span class="col s6 no-margin no-padding" style="padding-left:5px;">
                <div class="row" style="height:20px;">
                <input class="grey-text" required oninvalid="this.setCustomValidity('Please enter a task name')" oninput="setCustomValidity('')" style="border: none; font-size:13px; padding-left:3px;" name="text" type="text" value="{{text}}"/>
                </div>
            </span>  
             </form>
             <span class="col s2 right no-padding" style="width:2px;"> 
                <div class="delete right grey-text text-lighten-2 no-padding">&times;</div>
             </span>
              <span class="col s2 right" style="padding-left:10px;">  
                <div><i class="right tiny material-icons right
                {{#if todoLabel}}deep-orange-text text-darken-2
                {{else}}
                {{#if doingLabel}}
                orange-text text-darken-2
                {{else}}
                {{#if checkingLabel}}
                yellow-text text-darken-1
                {{else}}
                {{#if doneLabel}}
                light-green-text text-darken-1
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}">label</i></div>
            </span>
          </div>
      </div>
      <div class="collapsible-body grey lighten-5 black-text">
        <p>
        <br>
        <div class="card-panel" style="overflow-x:auto;">
          <form class="new-note" id="tNotes">
            <textarea class="materialize-textarea grey-text text-darken-2" name="text" value="{{taskNotes}}" placeholder="  add notes..."></textarea>
            <button class="btn waves-effect waves-light cyan darken-2" type="submit" name="action">
              <i class="material-icons center">send</i>
            </button>

          </form>
        </div>
        <br>
        <div class="responsive-table"  style="white-space:normal;overflow-x:auto;">
        <table>
          <tr>
            <td>Todo</td>
            <td>Doing</td>
            <td>Check</td>
            <td>Done</td>
          </tr>
          <tr class="z-depth-0">
            <td width="10%" class="no-padd no-margin">
              <button class="btn z-depth-0 enabled deep-orange darken-2 black-text" checked="{{todo}}"></button>
            </td>
            <td  width="10%" class="no-padd">
              <button class="btn  z-depth-0 toggle-doing {{#if doing}}enabled{{else}}disabled{{/if}}  orange darken-2 black-text" checked="{{doing}}"></button>
            </td>
            <td width="10%" class="no-padd">
              <button class="btn z-depth-0 toggle-checking {{#if checking}}enabled{{else}}disabled{{/if}}  yellow darken-1 black-text" checked="{{checking}}"></button>
            </td>
            <td class="no-padd">
              <button class="btn z-depth-0 toggle-done {{#if done}}enabled{{else}}disabled{{/if}}  light-green darken-1 black-text" checked="{{done}}"></button>
            </td>
          </tr>
        </table>
      </div>
        <br>
        <br>
        <form class="due_date">
          <input type="date" id="dd" class="datepicker" placeholder="Due date..." value="{{dueDate}}"/>
        </form>
        </p>
      </div>
    </li>
</ul>
</template>
