<template name="task">
<li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}} {{#if todo}}todo{{/if}} {{#if doing}}doing{{/if}} {{#if checking}}checking{{/if}} {{#if done}}done{{/if}}">

  {{notes}}

    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header black-text" style="height:60px;">          
             
            <div style="overflow: hidden;">
             <form class="edit-task" id="eTask" >
              
              <button type="button" class="delete grey-text left white" style="border:none;padding-top:0px;margin:0px;height:3px;position:relative;top:-10px;left:-6.5px">&times;</button>
              
              <input style="border-bottom:none;border:none;padding-top:0px;margin-top:10px;margin-left:6px;" name="text" type="text" value="{{text}}"/>
             
             </form>
            </div>

      </div>
      <div class="collapsible-body white black-text">
           <p>

          <plaintext style="font-size:10px;font-family:Helvetica"> Todo           Doing        Checking      Done</plaintext> 
          
          <div style="font-size:0px;position:relative;float:none;display:block;">
          
          <button class="btn toggle-todo {{#if todo}}enabled{{else}}disabled{{/if}} blue lighten-4 black-text" checked="{{todo}}" style="-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;height:16px;"></button>

          <button class="btn toggle-doing {{#if doing}}enabled{{else}}disabled{{/if}} blue lighten-2 black-text" checked="{{doing}}" style="height:16px;font-size:3px;"></button>

          <button class="btn toggle-checking {{#if checking}}enabled{{else}}disabled{{/if}} blue darken-2 black-text" checked="{{checking}}" style="height:16px;font-size:3px;"></button>

          <button class="btn toggle-done {{#if done}}enabled{{else}}disabled{{/if}} blue darken-4 black-text" checked="{{done}}" style="-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;height:16px;font-size:3px;"></button>
  
          </div>
            <br>
                 <div class="card-panel">
               
                    <form class="new-note" id="tNotes">
                        <textarea class="materialize-textarea" name="text" value="{{taskNotes}}" placeholder="  add notes..." style="border:none;word-break: break-all;"></textarea> 
                          <button class="btn waves-effect waves-light" type="submit" name="action" style="padding-left:5px;padding-right:5px;">
                          <i class="material-icons center">send</i>
                          </button>
      
                    </form>
                </div>
            <br>


            
            <!--                 -->
              <form class="due_date"> 
               <div class="due-datee">  
               <input type="text" id="dd" class="datepicker" placeholder="Due date..." value="{{dueDate}}"/>
            </div>
                </form>
   
       

              {{#if isOwner}}
              <div class="switch">
                <label>
                    Private
                  <input class="toggle-private right" type="checkbox" checked="{{private}}">
                  <span class="lever"></span>
                    Public
                </label>
              </div>
                {{/if}}
          </p>
          
      </div>
    </li>
    </ul>
                  

</li>
</template>
